.code{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: aqua;
   
}
input{
    margin: 10px 0;
    padding: 10px;
    width: 500px;
    border-radius: 10pc;
    border-color: blue;
    border-width: 2px;
   

}
.blue{
    color: blue;
}
label{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    background-color: blue;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border-width: 1px;
}
button:hover{
    color: blue;
    background-color: white;
    cursor: pointer;
    transition: 1s;
}

h1{
    padding: 10px;
}
#set>input{
    width: 25px;
   border-style: none;
}
#set{
    border-style: none;
}
main{
    justify-content: center;
}