.code{
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    position: absolute;
    text-align: center;
    padding-left: 35rem;
    background-color: aqua;
    padding-right: 37rem;
    justify-content: space-between;
}
input{
    padding:0.5rem 0rem;
    width: 100%;
    border-radius: 10px;
    border-width: 1px;
}
.blue{
    color: blue;
}
label{
    color: blue;
}
button{
    background-color: blue;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border-width: 1px;
}